{% extends "base.html" %}
{% block page_title %}PRICING{% endblock %}

{% block content %}

<div class="row">
  <div>
    <div class="card text-white bg-warning mb-3" style="max-width: 26rem; margin-right: 28px;">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">2$</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        {% if user.is_authenticated %}
            {% if Plan1 %}
              <a class="btn btn-outline-danger"> Unsubscribe </a>
            {% else %}
              <a class="btn btn-success" href="/subscribe/Plan 1"> Subscribe </a>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="card text-white bg-warning mb-3" style="max-width: 26rem; margin-right: 28px;">
      <div class="card-header">Plan 2</div>
      <div class="card-body">
        <h5 class="card-title">2$</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        {% if user.is_authenticated %}
            {% if Plan2 %}
              <a class="btn btn-outline-danger"> Unsubscribe </a>
            {% else %}
              <a class="btn btn-success" href="/subscribe/Plan 2"> Subscribe </a>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  <div>
   <div class="card text-white bg-warning mb-3" style="max-width: 26rem;">
      <div class="card-header">Plan 3</div>
      <div class="card-body">
        <h5 class="card-title">10$</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        {% if user.is_authenticated %}
            {% if Plan3 %}
              <a class="btn btn-outline-danger"> Unsubscribe </a>
            {% else %}
              <a class="btn btn-success" href="/subscribe/Plan 3"> Subscribe </a>
            {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}