{% extends "base.html" %}
{% block page_title %}PRICING{% endblock %}

{% block content %}

<div class="row">
  <div>
    <div class="card text-white bg-warning mb-3" style="max-width: 26rem; margin-right: 28px;">
      <div class="card-header">Plan 1</div>
      <div class="card-body">
        <h5 class="card-title">2$</h5>
        <p class="card-text">This is our lowest price service. In this plan you only pay two dollars per month.</p>
        {% if user.is_authenticated %}
            {% if Plan1 %}
              <a class="btn btn-outline-danger" href="/unsubscribe/Plan 1"> Unsubscribe </a>
            {% else %}
              <a class="btn btn-success" href="/subscribe/Plan 1"> Subscribe </a>
            {% endif %}
        {% else %}
          <a class="btn btn-success" href="/login"> Subscribe </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
    <div class="card text-white bg-warning mb-3" style="max-width: 26rem; margin-right: 28px;">
      <div class="card-header">Plan 2</div>
      <div class="card-body">
        <h5 class="card-title">2$</h5>
        <p class="card-text">This plan is a little more expensive plan. In this plan you only pay five dollars per month.</p>
        {% if user.is_authenticated %}
            {% if Plan2 %}
              <a class="btn btn-outline-danger" href="/unsubscribe/Plan 2"> Unsubscribe </a>
            {% else %}
              <a class="btn btn-success" href="/subscribe/Plan 2"> Subscribe </a>
            {% endif %}
        {% else %}
          <a class="btn btn-success" href="/login"> Subscribe </a>
        {% endif %}
      </div>
    </div>
  </div>
  <div>
   <div class="card text-white bg-warning mb-3" style="max-width: 26rem;">
      <div class="card-header">Plan 3</div>
      <div class="card-body">
        <h5 class="card-title">10$</h5>
        <p class="card-text">This is our most expensive plan. In this plan you can pay ten dollars per month.</p>
        {% if user.is_authenticated %}
            {% if Plan3 %}
              <a class="btn btn-outline-danger" href="/unsubscribe/Plan 3"> Unsubscribe </a>
            {% else %}
              <a class="btn btn-success" href="/subscribe/Plan 3"> Subscribe </a>
            {% endif %}
        {% else %}
          <a class="btn btn-success" href="/login"> Subscribe </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}