{% extends "base.html" %}
{% block page_title %}PRICING{% endblock %}

{% block content %}

<div class="row">
  <div>
    <div class="card text-white bg-warning mb-3" style="max-width: 26rem; margin-right: 28px;">
      <div class="card-header">Planning1</div>
      <div class="card-body">
        <h5 class="card-title">2$</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-success"> Subscribe </a>
      </div>
    </div>
  </div>
  <div>
    <div class="card text-white bg-warning mb-3" style="max-width: 26rem; margin-right: 28px;">
      <div class="card-header">5$</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-success"> Subscribe </a>
      </div>
    </div>
  </div>
  <div>
   <div class="card text-white bg-warning mb-3" style="max-width: 26rem;">
      <div class="card-header">10$</div>
      <div class="card-body">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-success"> Subscribe </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}