{% extends "base.html" %}
{% block page_title %}PROFILE|{{ user.username }}{% endblock %}


{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <h3>Credit: {{ customer.credit }}</h3>
  <h3>Subscriptions</h3>
  <table  class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Active</th>
        <th scope="col">Operation</th>
      </tr>
    </thead>
    <tbody>
      {% for subscription in subscriptions.all %}
        <tr>
          <th  scope="row">{{ subscription.name }}</th>
          <td>{{ subscription.cost }}$</td>
          <td>{{ subscription.is_active }}</td>
          {% if subscription.is_active %}<td><a class="btn btn-outline-danger" href="/deactive/{{ subscription.name }}"> Deactive </a></td>{% endif %}
          {% if not subscription.is_active %}<td><a class="btn btn-success" href="/active/{{ subscription.name }}"> Active </a></td>{% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="3">You don't have any subscriptions yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Invoices</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Subscription Type</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices.all %}
        <tr>
          <td>{{ invoice.id }}</td>
          <td>{{ invoice.subscription_type }}</td>
          <td>{{ invoice.price }}</td>
          <td>{{ invoice.start_date }}</td>
          <td>{{ invoice.end_date }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">You don't have any invoices yet.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}